<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken%>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function updateTodo(id, comp) {
            fetch(`/todos/${id}`, {
                method: "put",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    completed: comp,
                    "_csrf": token
                })
            }).then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            }).catch((err) => console.log(err));
        }
        function deleteTodo(id) {
            fetch(`/todos/${id}`, {
                method: "delete",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            }).catch((error) => console.log(error));
        }
    </script>
    <title><%=title%></title>
</head>
<body class="bg-gray-100">
    <div class="min-h-screen flex flex-col justify-center">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <h1 class="text-center text-4xl font-bold p-4">Create a new sport</h1>
            <form action="/addsport" method="post" class="mt-8 space-y-6 bg-white shadow-md rounded px-10 pt-6 pb-8 mb-4">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <div class="space-y-4">
                    <div>
                        <label class="block text-sm font-bold mb-2">What is the name of the sport?</label>
                        <input type="text" name="title" required class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit" class="bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add</button>
                    </div>
                </div>
            </form>
            <%-include("notifications.ejs")%>
        </div>
    </div>
</body>
</html>
