<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken%>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <%- include("header.ejs") %>
            <div class="text-center">
                <p class="mt-2 text-3xl font-extrabold text-gray-900">
                    Welcome to the Sports-Scheduler
                </p>
                <p class="mt-4 text-lg text-gray-600">
                    New here? <a href="/signup" class="text-indigo-600 hover:text-indigo-800 font-medium">Sign-up now</a>
                </p>
                <p class="mt-2 text-lg text-gray-600">
                    Already have an account? <a href="/signin" class="text-indigo-600 hover:text-indigo-800 font-medium">Sign-in</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
