<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken%>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
</head>
<body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center">
        <div class="max-w-md w-full space-y-8 px-6 py-12 bg-white shadow-md rounded-lg">
            <h1 class="text-center text-3xl font-semibold text-gray-900">Signup on the Sports-Scheduler</h1>
            <p class="mt-4 text-center text-lg text-gray-600">What type of user are you?</p>
            <div class="text-center text-lg text-gray-600">
                <p class="py-2">Admin? <a href="/signin/admin" class="text-indigo-600 hover:text-indigo-800 font-medium">Sign-in as Admin user</a></p>
                <p class="py-2">Player? <a href="/signin/player" class="text-indigo-600 hover:text-indigo-800 font-medium">Sign-in as a player</a></p>
            </div>
        </div>
    </div>
</body>
</html>
